:root {
  --color-red: red;
  --color-white: white;
  --color-lightCoral: lightcoral;
  --bg-color-tomato: rgb(209, 101, 101);
  --bg-color-darkCoral: rgb(118, 83, 83);
  --bg-color-dark: rgb(195, 192, 192);
  --bg-gray-color: grey;
  --bg-dark-color: rgb(109, 101, 101);
}
